<div x-data="{ open: false }">
<!-- PANEL -->
<div
    class="matrix-side-panel"
    :class="open ? 'open' : ''"
>
    <h2>Liste d'agents suspects</h2>
    <ul>
        {% for agent in agents %}
        <li>{{ agent.name }}</li>
        {% endfor %}
    </ul>
    </div>

<!-- TOGGLE BUTTON -->
    <button
    class="matrix-side-toggle"
    :class="open ? 'open' : ''"
    @click="open = !open"
    >
        <span class="arrow-top"></span>
        <span class="arrow-bottom"></span>
    </button>
</div>

<div class="matrix-panel absolute p-8 w-auto transition-all duration-500 flex flex-col gap-8 z-50" :class="open ? 'right-0 bottom-0 translate-y-0' : 'right-[0%] bottom-0 translate-y-64'" x-transition x-transition.duration.500ms x-data="{ open: false }">
    <h1 class="matrix-title text-2xl">Processus d'innocentement</h1>
    {% if agents|length > 0 %}
        <form action="{{ path('app_eliminate_agent') }}" method="post" 
            class="flex flex-col justify-between h-full items-center gap-4">

            <select name="agent_id" class="matrix-select">
                <option value="" selected disabled>Choisissez un agent</option>
                {% for agent in agents %}
                    <option value="{{ agent.id }}">{{ agent.name }}</option>
                {% endfor %}
            </select>

            <button type="submit" class="btn">
                Gracier l'agent
            </button>
        </form>
    {% endif %}

    <button class="matrix-toggle absolute" @click="open = !open">
        <div class="flex transition-all duration-500" :class="open ? 'rotate-180' : ''" x-transition x-transition.duration.500ms>
            <span class='block relative bg-white w-4 h-[2px] rotate-[-45deg] left-[3px]'></span>
            <span class='block relative bg-white w-4 h-[2px] rotate-45 right-[3px]'></span>
        </div>
    </button>
</div>


{# parasite: {{ agent.parasite ? 'oui' : 'non' }} #}
{# (id: {{ agent.id }}) #}